body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/concrete-texture.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    box-sizing: border-box;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;;
}

header.main-header {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
    font-size: small;
    margin-bottom: 30px;
}

nav.navbar {
    overflow: hidden;
    width: 960px;
    margin: auto;
}

h1.name {
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 20px;
    margin: 0px;
}

ul {
    float: right;
}

ul > li {
    padding: 10px;
    display: inline-block;
}

ul > li:not(:last-child) {
    border-right: 1px solid #cccccc;
}

a {
    text-decoration: none;
    color: #777777;

}

div.wrapper {
    min-height: 100%;
    padding-bottom: 60px;
}

main.main {
    width: 960px;
    background-color: #ffffff;
    margin: auto;
    border: 1px solid #dddddd;
}

header.content-header {
    padding: 10px 20px 0px 20px;
}

section.content {
    padding: 0px 20px 10px 20px;
}

img.me {
    width: 200px;
    height: 200px;
    float: left;
    margin: 0px 10px 10px 0px;
}

hr {
 border-color: #dddddd;
}

p.bio {
    line-height: 1.5;
}

footer {
    height: 50px;
    margin-top: -30px;
    background-color: #666666 ;
    border-top: 8px solid #4aaaa5;
}

.copyright {
    color: #ffffff;
    display: block;
    text-align: center;
    margin-top: 30px;
}

form {
    margin: 20px;
}

form > input {
    width: 100%;
    padding: 10px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    color: #cccccc;
  }

  input[type=submit] {
    width: 100px;
    background-color: #4aaaa5;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 0px;
    cursor: pointer;
  }

  input.message {
      height: 200px;
  }

  
  /* Remove extra left and right margins, due to padding in columns
  .row {margin: 0 -5px;} */
  
  /* Clear floats after the columns */


.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    padding: 16px;
    position: relative;
    width: 100%;
}

img.thumbnail {
    height: 200px;
    width: 275px;
}

.btn {
    position: absolute;
    left: 16px;
    bottom: 30px;
    width: 275px;
    height: 45px;
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-size: 16px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;;
}